
.bw, .normal { background-color: #b4ff8c; }
.bw.ovbw, .alert { background-color: red; }
.head .action,.uptime { margin: 0 0 0 30px; }
.head .name { font-size: 150%; }
.boxname { font-size: 70%; }
.head .dnscount { margin-left: 20px; }
.memory { margin-left: 30px; }
table { width: 100%; }
th { background-color: #D0D0D0; }
td.name { }
td.number { text-align: right; }
td.status { text-align: center; }
td.total { background-color: #E0E0E0; }
.applistats .number { font-size: 80%; }
.aliasstats .number { font-size: 80%; }
#aliases, #addbutton { background-color: #E0E0E0; width: 340px; }
#aliases div { display: inline-block; }
#aliases div.aliascol { width: 160px; }
#aliases div.targetcol { width: 70px; }
#aliases div.countcol { width: 40px; }
#aliases div.deletecol { width: 40px; }

