
.bw, .normal { background-color: #b4ff8c; }
.bw.ovbw, .alert { background-color: red; }
.head .action,.uptime { margin: 0 0 0 30px; }
.head .name { font-size: 150%; }
.boxname { font-size: 70%; }
.head .dnscount { margin-left: 20px; }
.memory { margin-left: 30px; }
table { width: 100%; }
th { background-color: #D0D0D0; }
td.name { }
td.number { text-align: right; }
td.status { text-align: center; }
td.total { background-color: #E0E0E0; }
.applistats .number { font-size: 80%; }
.aliasstats .number { font-size: 80%; }

#aliasmenu { background-color: grey; }
#aliasmenu label, #reload { margin-left: 10px; }
#aliases, #addbutton { background-color: #E0E0E0; width: 380px; }
#aliases div { display: inline-block; }
#aliases div.aliascol { width: 120px; }
#aliases div.aliascol input { width: 110px; }
#aliases div.targetcol { width: 135px; }
#aliases div.targetcol select { width: 125px; }
#aliases div.countcol { width: 40px; text-align: right; font-size: 80%; }
#aliases div.deletecol { width: 40px; }
#update { background-color: red; }

#aliasmanager { display: none; position: fixed; top: 50px; left: 35px; width: 400px; height: 500px;
  border: 5px solid #73AD21; background-color: white; z-index: 4; }

#overlay { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5); z-index: 2; cursor: pointer;
}

