[Unit]
Description=CDNBoxd Service
After=network.target

[Service]
Type=forking
Environment="CDNBOXDDIR=/<home>/CDNBoxd"
ExecStart=/<home>/CDNBoxd/cdnboxd.sh
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
